<!DOCTYPE html>
<html>
    <head>
        <title>Quiz App</title>
    </head>



    <body>
        <h1>Welcome to the STAINLESS Quiz app</h1>
        <p>Hey Player!! This is a platform to help assess yourself and know your weakness. </p>
        <p>Failure is the fastest way to success. So don't be afraid of failure!!</p>
        <p>PUSH PAST YOUR LIMITS AND DON'T GIVE UP!!  GOODLUCK</p>

        <form method="GET" action="/quiz">
            <button type="submit" name="button" value="button clicked">Start Quiz</button>
        </form>
        

       
    </body>

</html>
