<!DOCTYPE html>

<h1>Quiz page</h1>

<form method="POST" action="/quiz">
    
    <h3>{{ quest }}</h3>

    {% for option in options %}
         <input type="radio" id="{{option}}" name="option" value="{{option}}">
        <label for="{{option}}">{{option}}<br>

        </label> 
    {% endfor %}<br>

    <button type="submit" name="action" value="previous">PREVIOUS</button>
    {% if final %}
      <button type="submit" name="action" value="submit">SUBMIT</button>
    {% else %}
      <button type="submit" name="action" value="next">NEXT</button>
    {% endif %}
    
    
</form>

{% if message %}
  <p>{{ message }}</p>
{% endif %}